<h2>Resend confirmation instructions</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>
      <%= f.input :email, autofocus: true %>
      <%= f.button :submit, "Resend confirmation instructions" %>
    <% end %>
  </div>
</div>