<h2>You're almost done! Now create a password to securely access your account.</h2>

<div class="row">
  <div class="col-md-6 cold-md-offset-3">
    <%= simple_form_for(resource, :as => resource_name, :url => confirm_path) do |form| %>
      <%= form.error_notification %>
      <%= form.input :password, :input_html => {:autofocus => true} %>
      <%= form.input :password_confirmation %>
      <%= form.input :confirmation_token, :as => :hidden, :input_html => { :value => @original_token } %>
      <%= form.button :submit, :label => 'Confirm Account' %>
    <% end %>
  </div>
</div>