<h2>Edit <%= resource_name.to_s.humanize %></h2>

<hr/>

<div class="row">
  <div class="col-xs-5 float-xs-left">
    <p class="text-xs-center">SimRep uses your Facebook account ID for login. Feel free to change your name and email to anything you'd like here.</p>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :name, required: true %>
      <%= f.button :submit, "Update" %>
    <% end %>
  </div>
  <div class="col-xs-6 offset-xs-1 float-xs-right">
    <p class="text-xs-center">In the future, you will be able to download liability waivers and upload signed copies here.</p>
  </div>
</div>
