<h2>Sign Up or Log In</h2>

<hr/>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p class="text-center">If you have previously used a password with SimRep, please enter it on the right.</p>
    <p class="text-center">If you are new, you can just click "Sign Up" on the left side.</p>
    <p class="text-center">Thanks!</p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-4 col-md-offset-1 pull-left">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'new_user' }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, autofocus: true %>
      <%= f.input :name, label: "Player Name" %>
      <%= f.button :submit, "Sign up" %>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-1 pull-right">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'old_user' }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, autofocus: true %>
      <%= f.input :password, hint: raw("#{link_to 'Forgot your password?', new_password_path(resource_name)}") %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Bastion", class: "btn btn-primary" %>
      <%= f.button :submit, "Holurheim", class: "btn btn-warning" %>
      <%= f.button :submit, "Aquia", disabled: true, class: "btn btn-default" %>
      <%= f.button :submit, "Last Rest", disabled: true, class: "btn btn-default" %>
    <% end %>
  </div>
</div>
