<h2>Log in</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, autofocus: true %>
      <%= f.input :password, hint: raw("#{link_to 'Forgot your password?', new_password_path(resource_name)}") %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Bastion", class: "btn btn-primary" %>
      <%= f.button :submit, "Holurheim", class: "btn btn-warning" %>
      <%= f.button :submit, "Aquia", disabled: true, class: "btn btn-default" %>
      <%= f.button :submit, "Last Rest", disabled: true, class: "btn btn-default" %>
    <% end %>
  </div>
</div>
