<% provide(:title, @npc_shift.display_name) %>
<div class="row">
  <div class="col-md-4 col-md-offset-4" id="controls">
    <%= link_to "NPC Shifts Overview", npc_shifts_path(@character), class: 'btn btn-lg btn-warning' %>
    <h3><%= "Hours Earned: #{@npc_shift.max_hours}"%></h3>
    <%= simple_form_for @npc_shift do |f| %>
      <%= f.input :hours_to_money, input_html: { min: 0, max: @npc_shift.max_hours }%>
      <%= f.input :hours_to_time, input_html: { min: 0, max: @npc_shift.max_hours }%>
      <%= f.input :dirty %>
      <%= f.button :submit, class: "btn btn-sm btn-block btn-success" %>
    <% end %>
  </div>
</div>