<tr class="<%= 'info' if death.events_since < 3 %>">
  <td><%= death.description %></td>
  <td><%= death.physical if death.events_since < 1 %></td>
  <td><%= death.roleplay if death.events_since < 3 %></td>
  <td><%= death.weekend %></td>
</tr>