<tr class="row col-12">
  <td class="col-1"><%= talent.spec %></td>
  <td class="col-2"><%= talent.rank %></td>
  <td class="col-2"><%= talent.group %></td>
  <td class="col-4"><%= talent.name %></td>
  <td class="col-1"><%= talent.value %></td>
  <td class="col-2"><%= talent.investment_limit %></td>
</tr>