<tr>
  <td><%= Character.find_by(id: contribution.character).name %></td>
  <td><%= contribution.timeunits %></td>
  <td><%= contribution.talent %></td>
  <td><%= contribution.note %></td>
  <td><%= contribution.created_at %></td>
</tr>