<li class="<%= "bg-info" if (project.leader == @character) %>" id="project-<%= project.id %>">
  <strong><%= link_to "#{project.name} (ID: #{project.id})", project_path(project) %></strong>
  <dl class="dl-horizontal">
    <dt>Description</dt><dd><%= "#{project.description}" %></dd>
    <dt>Leader</dt><dd><%= Character.where(id: project.leader).try(:name) || "None" %></dd>
    <dt>Total TU</dt><dd><%= project.total_timeunits(@character) %></dd>
    <dt>Last Contribution</dt><dd><%= project.last_contribution(@character) %></dd>
  </dl>
</li>
