<li class="<%= "bg-info" if (project.leader == @character) %>" id="project-<%= project.id %>">
  <strong><%= link_to project.name, project_path(project) %></strong>
  <dl class="dl-horizontal">
    <dt>Description</dt><dd><%= "#{project.description}" %></dd>
    <dt>Leader</dt><dd><%= "#{Character.find_by(id: project.leader).name}" %></dd>
    <dt>Total TU</dt><dd><%= project.total_timeunits(@character) %></dd>
    <dt>Last Contribution</dt><dd><%= project.last_contribution(@character) %></dd>
  </dl>
</li>
