<% provide(:title, @project.name) %>
<div class="row">
  <div class="col-md-4" id="controls">
    <%= link_to "Projects Overview", projects_path, class: 'btn btn-lg btn-warning' %>
    <h3><%= "Unspent Time Units: #{@character.unused_talents}"%></h3>
    <%= simple_form_for @project do |f| %>
      <%= simple_fields_for @project_contribution do |pc| %>
        <%= pc.input :timeunits, input_html: { min: 0, max: @character.unused_talents }%>
        <%= pc.input :talent, collection: @character.talents, label_method: :display_name, include_blank: true, required: false %>
        <%= pc.input :note, required: false %>
      <% end %>
      <%= f.button :submit, "Contribute To This Project", class: "btn btn-sm btn-block btn-success" %>
    <% end %>
  </div>
  <div class="col-md-8" id="information">
    <dl class="dl-horizontal">
      <dt>Name</dt><dd><%= "#{@project.name} (ID: #{@project.id})" %></dd>
      <dt>Description</dt><dd><%= "#{@project.description}" %></dd>
      <dt>Leader</dt><dd><%= @project.leader.present? ? "#{Character.find_by(id: @project.leader).name}" : "None" %></dd>
      <dt>Total TU</dt><dd><%= "#{@project.total_timeunits(@character)}" %></dd>
    </dl>
    <hr/>
    <table class="table table-condensed table-hover table-responsive">
    <tr>
      <th>Contributor</th>
      <th>TU Amount</th>
      <th>Talent</th>
      <th>Notes</th>
      <th>Date</th>
    </tr>
    <%= render partial: "projects/contribution", collection: @contributions, as: :contribution %>
    </table>
  </div>
</div>