<li id="character-<%= character.id %>">
  <% if character.retired? %>
    <span class="name">Name: <%= character.name %></span>
    <span class="experience">Total Events: <%= character.character_events.count %></span>
  <% else %>
    <span class="name">Name: <%= link_to character.name, character_path(character) %></span>
    <span class="experience">XP: <%= character.experience %></span>
  <% end %>
  <span class="chapter">Chapter: <%= character.chapter.try(:name) %></span>
</li>