<tr class="nested-fields">
  <%= f.simple_fields_for :skill do |f_skill| %>
    <td><%= f_skill.input :source, collection: Skill::SOURCES, label: false %></td>
    <td><%= f_skill.input :name, label: false %></td>
    <td><%= f_skill.input :cost, label: false %></td>
    <td><%= link_to_remove_association "remove skill", f, class: "btn btn-danger"%></td>
  <% end %>
</tr>
