<% provide(:title, "#{current_user.name}'s Characters") %>
<div class="row flex-items-xs-center">
  <aside class="col-xs-3">
    <section class="user_info">
      <%= link_to 'Create New Character', new_character_path, class: "btn btn-block btn-primary" %>
    </section>
  </aside>
  <div class="col-xs-2"></div>
  <div class="col-xs-6">
    <% if @active_characters.present? %>
      <h3>Active Characters (<%= @active_characters.count %>)</h3>
      <ul class="characters">
        <%= render @active_characters %>
      </ul>
    <% end %>
    <% if @retired_characters.present? %>
      <hr/>
      <h3>Retired Characters (<%= @retired_characters.count %>)</h3>
      <ul class="characters">
        <%= render @retired_characters %>
      </ul>
    <% end %>
  </div>
</div>