<% provide(:title, current_user.email) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= current_user.email %></h1>
      <%= link_to 'Create New Character', new_character_path, class: "btn btn-sm btn-success" %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @active_characters.any? %>
      <h3>Active Characters (<%= @active_characters.count %>)</h3>
      <ul class="characters">
        <%= render @active_characters, locals: { retired: true } %>
      </ul>
    <% end %>
    <% if @retired_characters.any? %>
      <hr/>
      <h3>Retired Characters (<%= @retired_characters.count %>)</h3>)
      <ul class="characters">
        <%= render @retired_characters, locals: { retired: true } %>
      </ul>
    <% end %>
  </div>
</div>