<% provide(:title, @character.name) %>
<%= render "characters/partials/events" %>
<div class="row" id="actionrow">
  <% link_to "Edit Character", edit_character_path(@character), class: 'btn btn-lg btn-primary', disabled: true %>
  <% link_to "Retire Character", character_path(@character), confirm: "Are you sure you want to retire #{@character.name}?", method: :delete, class: 'btn btn-sm btn-danger', disabled: true %>
  <%= link_to "Projects", projects_path(@character), class: 'btn btn-primary' %>
  <%= link_to "Bank", "#", class: 'btn btn-success', disabled: true %>
  <%= link_to "Print", character_path(@character, format: :pdf), class: 'btn btn-info' %>
</div>
<div class="row" id="demographics">
  <div class="col-md-6">
    Vitals
    <dl class="dl-horizontal">
      <dt>Name</dt><dd><%= "#{@character.name}" %></dd>
      <dt>Race</dt><dd><%= "#{@character.race}" %></dd>
      <dt>Culture</dt><dd><%= "#{@character.culture}" %></dd>
      <dt>Experience</dt><dd><%= raw "#{link_to "#{@character.experience} / #{@character.exp_to_next} until next level", "#", data: {toggle: "modal", target: "#eventsModal"}}" %></dd>
      <dt>Costume</dt><dd><%= "#{@character.costume} (last checked on #{@character.costume_checked})" %></dd>
    </dl>
  </div>
  <div class="col-md-6">
    Birthrights & Origins
      <table class="table table-condensed table-hover table-responsive">
      <tr>
        <th>Source</th>
        <th>Name</th>
        <th>Detail</th>
      </tr>
      <%= render partial: "characters/partials/origin", collection: @character.origins %>
    </table>
  </div>
</div>
<div class="row" id="deaths">
  <div class="col-md-12">
    <%= "Deaths\t|\tPerm Chance: #{@character.perm_chance}\t|Reduces in #{@character.perm_counter} events" %>
    <table class="table table-condensed table-hover table-responsive">
      <tr>
        <th>Description</th>
        <th>Physical Effect</th>
        <th>Roleplay Effect</th>
        <th>Date</th>
        <th>Affects Perm Chance?</th>
      </tr>
      <%= render partial: "characters/partials/death", collection: @character.deaths %>
    </table>
  </div>
</div>
<div class="row system">
  <div class="col-md-4">
    <%= raw "Backgrounds: #{(link_to (@character.history_approval ? "official" : "unofficial") + ' history', @character.history_link) if @character.history_link}" %>
    <table class="table table-condensed table-hover table-responsive">
      <tr>
        <th>Name</th>
        <th>Detail</th>
      </tr>
      <%= render partial: "characters/partials/background", collection: @character.backgrounds %>
    </table>
  </div>
</div>
<div class="row system">
  <div class="col-md-4" id="skills">
    <%= "Skill Points: #{@character.skill_points_used} spent / #{@character.skill_points_total} total" %>
    <table class="table table-condensed table-hover table-responsive">
      <tr>
        <th>Source</th>
        <th>Name</th>
        <th>Cost</th>
      </tr>
      <%= render partial: "characters/partials/skill", collection: @character.skills %>
    </table>
  </div>
  <div class="col-md-4" id="perks">
    <%= "Perk Points: #{@character.perk_points_used} spent / #{@character.perk_points_total} total" %>
    <table class="table table-condensed table-hover table-responsive">
      <tr>
        <th>Source</th>
        <th>Name</th>
        <th>Cost</th>
      </tr>
      <%= render partial: "characters/partials/perk", collection: @character.perks %>
    </table>
  </div>
  <div class="col-md-4" id="talents">
    Talent Points: <b><%= "#{@character.unused_talents} unused"%></b><%=" / #{@character.talent_points_total} total" %>
    <table class="table table-condensed table-hover table-responsive">
      <tr>
        <th>Spec?</th>
        <th>Rank</th>
        <th>Group</th>
        <th>Name</th>
        <th>Value</th>
        <th>Investment Limit</th>
      </tr>
      <%= render partial: "characters/partials/talent", collection: @character.talents %>
    </table>
  </div>
</div>
