<% provide(:title, @character.name) %>
<%= render "characters/partials/events" %>
<div class="row header justify-content-around align-items-center">
  <div class="col-3 actions">
    <ul class="nav flex-column">
      <div class="row justify-content-around">
        <li class="col-5 p-2 nav-item">
          <%= link_to "Projects", projects_path, class: 'btn btn-primary nav-link' %>
        </li>
        <li class="col-5 p-2 nav-item">
          <%= link_to "Bank", bank_accounts_path, class: 'btn btn-success nav-link' %>
        </li>
      </div>
      <br/>
      <div class="row justify-content-around">
        <li class="col-5 p-2 nav-item">
          <%= link_to "NPC", npc_shifts_path, class: 'btn btn-info nav-link' %>
        </li>
        <li class="col-5 p-2 nav-item">
          <%= link_to "Print", character_path(@character, format: :pdf), class: 'btn btn-secondary nav-link' %>
        </li>
      </div>
    </ul>
  </div>
  <div class="col-6 demographics">
    <dl class="row">
      <dt class="col-3">Name</dt>
      <dd class="col-9"><%= "#{@character.name}" %></dd>

      <dt class="col-3">Race / Culture</dt>
      <dd class="col-9"><%= "#{@character.race} / #{@character.culture}" %></dd>

      <dt class="col-3">Experience</dt>
      <dd class="col-9"><%= link_to "#{@character.experience} / #{@character.exp_to_next} until next level", "#", data: { toggle: "modal", target: "#eventsModal" } %></dd>

      <dt class="col-3">Costume</dt>
      <dd class="col-9"><%= "#{@character.costume} (last checked on #{@character.costume_checked})" %></dd>

      <dt class="col-3">History</dt>
      <dd class="col-9"><%= link_to (@character.history_approval ? "official" : "unofficial") + ' history', @character.history_link %></dd>
    </dl>
  </div>
</div>
<br/>
<div class="row deaths">
  <h4 class="col-4">Deaths</h4>
  <h5 class="col-4 text-muted">Perm Chance: <%= @character.perm_chance %></h4>
  <h5 class="col-4 text-muted">Reduces In: <%= @character.perm_counter %> Events</h4>

  <div class="col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#active">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#historical">Historical</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="active">
        <table class="table table-condensed table-hover">
          <thead>
            <tr class="row col-12">
              <th class="col-4">Description</th>
              <th class="col-3">Physical Effect</th>
              <th class="col-3">Roleplay Effect</th>
              <th class="col-2">Date</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "characters/partials/death", collection: @character.deaths.affects_perm, locals: { historical: false } %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="historical">
        <table class="table table-condensed table-hover">
          <thead>
            <tr class="row col-12">
              <th class="col-4">Description</th>
              <th class="col-3">Physical Effect</th>
              <th class="col-3">Roleplay Effect</th>
              <th class="col-2">Date</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "characters/partials/death", collection: @character.deaths, locals: { historical: true } %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
<br/>
<div class="row static">
  <div class="col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#birthrights">Birthrights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#origins">Origins</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#backgrounds">Backgrounds</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="birthrights">
        <table class="table table-condensed table-hover">
          <thead>
            <tr class="row col-12">
              <th class="col-4">Source</th>
              <th class="col-4">Name</th>
              <th class="col-4">Detail</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "characters/partials/birthright", collection: @character.birthrights %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="origins">
        <table class="table table-condensed table-hover">
          <thead>
            <tr class="row col-12">
              <th class="col-4">Source</th>
              <th class="col-4">Name</th>
              <th class="col-4">Detail</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "characters/partials/origin", collection: @character.origins %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="backgrounds">
        <table class="table table-condensed table-hover">
          <thead>
            <tr class="row col-12">
              <th class="col-4"></th>
              <th class="col-4">Name</th>
              <th class="col-4">Detail</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "characters/partials/background", collection: @character.backgrounds %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="row dynamic">
  <div class="col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#skills">Skills (<%= @character.skill_points_unspent %>)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#perks">Perks (<%= @character.perk_points_unspent %>)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#talents">Talents (<%= @character.talent_points_unspent %>)</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="skills">
        <table class="table table-condensed table-hover">
          <thead>
            <tr class="row col-12">
              <th class="col-3">Source</th>
              <th class="col-6">Name</th>
              <th class="col-3">Cost</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "characters/partials/skill", collection: @character.skills %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="perks">
        <table class="table table-condensed table-hover">
          <thead>
            <tr class="row col-12">
              <th class="col-3">Source</th>
              <th class="col-6">Name</th>
              <th class="col-3">Cost</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "characters/partials/perk", collection: @character.perks %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="talents">
        <table class="table table-condensed table-hover">
          <thead>
            <tr class="row col-12">
              <th class="col-1">Spec?</th>
              <th class="col-2">Rank</th>
              <th class="col-2">Group</th>
              <th class="col-4">Name</th>
              <th class="col-1">Value</th>
              <th class="col-2">Investment Limit</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "characters/partials/talent", collection: @character.talents %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
