<tr id="crafting_point-<%= crafting_point.id %>">
  <td><%= crafting_point.type %></td>
  <td><%= crafting_point.unranked %></td>
  <td><%= crafting_point.apprentice %></td>
  <td><%= crafting_point.journeyman %></td>
  <td><%= crafting_point.master %></td>
</tr>