<% provide(:title, "#{@bank_account.display_name}") %>
<div class="row">
  <div class="col-md-4" id="overview">
    <dl class="dl-horizontal">
      <dt>Balance</dt><dd><%= humanized_money_with_symbol @bank_account.balance %></dd>
    </dl>
    <%= simple_form_for @bank_account do |f| %>
      <%= simple_fields_for @bank_account_transaction do |f_bat| %>
        <%= f_bat.input :from_account, as: :hidden, input_html: { value: @bank_account } %>
        <%= f_bat.input :to_account, include_blank: false, collection: BankAccount.where(chapter: current_chapter).where.not(id: @bank_account.id), label_method: lambda { |account| "#{account.owner.name}" } %>
        <%= f_bat.input :memo, required: false %>
        <div class="input-group">
          <%= f_bat.input :funds %>
          <span class="input-group-addon">
            <%= f_bat.input :funds_currency, as: :select, include_blank: false, collection: [Money::Currency.find(:vmk), Money::Currency.find(:sgd)], label_method: :name, value_method: :to_s %>
          </span>
        </div>
      <% end %>
      <%= f.button :submit, "Post Transaction", class: "btn btn-sm btn-block btn-success" %>
    <% end %>
  </div>
  <div class="col-md-8" id="transaction_log">
    <h3>Bank Transactions</h3>
    <table class="table table-condensed table-hover table-responsive">
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>Memo</th>
        <th>Date</th>
      </tr>
      <%= render partial: "bank_accounts/transaction", collection: @transactions, as: :transaction %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6" id="item_log">
    <h3>Bank Items</h3>
    <table class="table table-condensed table-hover table-responsive">
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Description</th>
        <th>Count</th>
        <th>Date</th>
      </tr>
      <%= render partial: "bank_accounts/item", collection: @items, as: :item %>
    </table>
  </div>
  <div class="col-md-6" id="crafting_points_log">
    <h3>Crafting Points</h3>
    <table class="table table-condensed table-hover table-responsive">
      <tr>
        <th>Type</th>
        <th>Unranked</th>
        <th>Apprentice</th>
        <th>Journeyman</th>
        <th>Master</th>
      </tr>
      <%= render partial: "bank_accounts/crafting_points", collection: @crafting_points, as: :crafting_point %>
    </table>
  </div>
</div>
