<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarTop">

      <!-- <div class="float-lg-left"> -->
        <ul class="nav navbar-nav mr-auto with-separators">
          <li class="mx-2 nav-item">
            <%= link_to "SimRep", root_path, class: "navbar-brand" %>
          </li>
          <% if current_user.try(:admin?) %>
          <li class="mx-2 nav-item">
            <%= link_to "Back Office", admin_root_path, class: "navbar-brand" %>
          </li>
          <% end %>
        </ul>
      <!-- </div> -->

      <!-- <div class="float-lg-right"> -->
        <ul class="nav navbar-nav with-separators">

        <% if user_signed_in? %>
          <li class="mx-2 nav-item">
            <span class="navbar-text text-muted">Logged in as
              <strong><%= link_to "#{current_user.name}", edit_user_registration_path %></strong>
              <% if current_char.present? && current_char.persisted? %>
                / <strong><%= link_to "#{current_char.name}", character_path(current_char) %></strong>
              <% end %>
            </span>
          </li>
          <li class="mx-2 nav-item">
            <%= link_to 'View All Characters', characters_path, class: 'nav-link' %>
          </li>
          <li class="mx-2 nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <% if ENV['MTOWER'] %>
            <li class="mx-2 nav-item">
              <%= link_to user_developer_omniauth_authorize_path, class: 'nav-link' do %>
                <i class="fa fa-envelope-o" aria-hidden="true"></i> Sign in with Email
              <% end %>
            </li>
          <% end %>
          <li class="mx-2 nav-item">
            <%= link_to user_facebook_omniauth_authorize_path, class: 'nav-link' do %>
              <i class="fa fa-facebook" aria-hidden="true"></i> Sign in with Facebook
            <% end %>
          </li>
        <% end %>
        </ul>
      <!-- </div> -->
    </div>
  </div>
</nav>
