<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= raw full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/favicon' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <div class="container">
      <%= render 'layouts/footer' %>
      <% if Rails.env.development? %>
      <div class="card card-block card-muted">
        <%= debug(params) %>
      </div>
      <% end %>
    </div>
  </body>
</html>
