<!DOCTYPE html>
<html>
<head>
  <title><%= raw full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= wicked_pdf_stylesheet_link_tag('application.css') %>
  <%= wicked_pdf_javascript_include_tag('application.js') %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
